	p.txt{
		font-family: cursive;
		font-size: 100px;
		
	}
	p.txt2{
		text-align: center;
		font-size: 76px;
		color:  aliceblue;

	}
	p.txt3{
		text-align: center;
		font-size: 76px;
		color:aliceblue;
        padding-bottom: 10%;
	}
	.b1{
		background: url('images/1.jpg');
	/*	background: url('https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220__340.jpg');*/
		background-repeat:no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
		
		

	}
	.last{
		background-repeat: no-repeat;
		background: url('http://www.textures4photoshop.com/tex/thumbs/fast-food-restaurant-background-with-chalkboard-texture-free-94.jpg');
		background-size: 100% 100%;
		
	}
	.t{
		color: aliceblue;
		text-align:center;
		
	}
	.t1{
		font-size: 70px;
		
	}
	.t2{
		font-size: 100px;
	}
	.t3{
		font-size: 30px;
		padding-bottom: 10%;
	}
    .bg2{
		/*background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRySNFhyvyRGS0LxnQ7SVnJJ7-q34sIdCjU8aL95SCZO1wFagB0');
		background-repeat: no-repeat;
		background-size: 100% 100%;*/

	}
    .p-0{
		background:#fff7e6;
		margin:solid orange;
		outline: solid orange;
	}
    .leftImg{
		height: 630px;
		width: 100%;
	}

