.b1{
		
    background: url('images/1.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    }

.t1{
    color: aliceblue;
    padding-top: 15%;
    padding-left: 10%;
    font-size: 120px;
    font-family: Algerian;
}
.img1{
    padding-left: 10%;
    padding-bottom: 15%;
}
.img2{
    border-radius:5%;
    height: 100%;
    width: 100%;
}
.t2{
    color: orange;
    font-family: Algerian;
    font-size:70px;
}
.t3{
    color: maroon;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    line-height:150px;
}
.t4{
    text-align: center;
    color: black;
    text-decoration:underline;
}

.t{
    color: aliceblue;
    text-align:center;
    
}
.t5{
    font-size: 70px;
}
.t6{
    font-size: 100px;
}
.t7{
    font-size: 30px;
    padding-bottom: 10%;
}
.last{
    background-repeat: no-repeat;
    background: url('http://www.textures4photoshop.com/tex/thumbs/fast-food-restaurant-background-with-chalkboard-texture-free-94.jpg');
    background-size: 100% 100%;
}